

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<body>
    <form method="get" action="/pnote/save">
        <div>
            当前路径：<b name="path" id="bPath"><%= path %></b>

        </div>
    <div >
        <button id="btnSave" onclick="return btnSave_click()">保存</button>
    </div>
    <textarea id="txtMain" name="txtMain"  style=" width: 100%; height: 500px;"><%= text%></textarea>

        </form>
</body>
</html>
        <script type="text/javascript">
            //保存事件
            document.onkeydown = function(e){
                e = window.event || e;
                var keycode = e.keyCode || e.which;
                if(e.ctrlKey && keycode== 83){
                    e.preventDefault();
                    window.event.returnValue= false;
                    //alert("as");
                    btnSave_click();
                }
            }
            //保存按钮事件
            function btnSave_click(){
                var text = $('#txtMain').val();
                var path = $("#bPath").html();
                $.ajax({
                    type: 'post',
                    url: '/pnote/save' ,
                    data: {path:path,text:text} ,
                    success: function(data){
                        //alert(data.success);
                        //alert('saved');
                    } ,
                    dataType:'json',
                    error:function(err){
                        alert('err:'+err);
                    }
                });
                return false;
            }

        </script>