

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<style>
.github-fork {
    position: fixed;
    top: 0;
    right: 0;
}
</style>
<script src="js/jquery-latest.js"></script>
<body onbeforeunload="btnSave_click()">
    <a class="github-fork" id="forkme" href="https://github.com/apporoad/pnote" target="_blank"><img src="images/forkme.png"></a>
    <form method="get" action="/pnote/save">
        <div>
            current path:<b name="path" id="bPath"></b>  &nbsp;&nbsp; <i>F2 focus here</i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/apporoad/pnote" target="_blank" >details @ github.com/apporoad/pnote</a>
            <!-- <input autocomplete="off" type="text" id="txtPath"  value="<%= cpath %>"/> -->

            <table style="width:100%">
                <tr>
                    <td width="80%">
                        <textarea id="txtPath"  style=" width: 100%;" onkeydown="return pathKeyDown()"  rows="1" ><%= cpath %></textarea>
                    </td>
                    <td>
                        <button onclick="return jump()" style="width:90%;margin: 10px"> Jump </button>
                    </td>
                </tr>
            </table>
        </div>
    <div >
        <br>
        <a href="/list">redirect to list
        </a> &nbsp;&nbsp;&nbsp;&nbsp;
       <a id="btnSave" href="javascript:void(0)" onclick="return btnSave_click()">ctrl+s to save</a>
    </div>
    <br>
    <textarea id="txtMain" name="txtMain"  style=" width: 100%; height: 500px;" ><%= text%></textarea>

        </form>
</body>
</html>
        <script type="text/javascript">
           //document.designMode = 'on'
            //保存事件
            document.onkeydown = function(e){
                e = window.event || e;
                var keycode = e.keyCode || e.which;
                if(e.ctrlKey && keycode== 83){
                    e.preventDefault();
                    window.event.returnValue= false;
                    //alert("as");
                    btnSave_click();
                }
                if(keycode == 113){
                    //保存操作
                    btnSave_click()
                    var t=$("#txtPath").val(); 
                    $("#txtPath").focus()//.val(t)
                    // console.log(t.length)
                    $("#txtPath")[0].setSelectionRange(0,t.length);
                }
                // if(keycode == 13 && document.getElementById('txtPath').activeElement){
                //     //alert(1)
                //     window.location.href = '/' + document.getElementById('txtPath').value;
                // }
            }

            function pathKeyDown(){
                e = window.event || e;
                var keycode = e.keyCode || e.which;
                if(keycode == 13){
                    jump()
                return false
                }
                return true
            }

            function jump (){
                //不进行保存操作
                btnSave_click = function(){}
                window.location.href = "/"+ $("#txtPath").val()
                return false
            }
            var orginText = $('#txtMain').val();
            //保存按钮事件
            var btnSave_click = function(){
                var text = $('#txtMain').val();
                if(orginText == text){
                    return;
                }
                orginText = text;
                var path =  "/"+ $("#txtPath").val();
                $.ajax({
                    type: 'post',
                    url: '/save' ,
                    data: {path:path,text:text} ,
                    success: function(data){
                        //alert(data.success);
                        //alert('saved');
                    } ,
                    dataType:'json',
                    error:function(err){
                        //alert('err:'+JSON.stringify(err));
                        console.log('err:'+JSON.stringify(err))
                    }
                });
                return false;
            }


            //focus
            $('#txtMain').focus()

            //hide forkme in mobile
            var system ={};  
            var p = navigator.platform;       
            system.win = p.indexOf("Win") == 0;  
            system.mac = p.indexOf("Mac") == 0;  
            system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);     
            if(system.win||system.mac||system.xll){
                    //window.location.href="#";  
                    console.log('here is pc')
            }else{  
                    //window.location.href="#";  
                    $("#forkme").hide()
            }
        </script>