<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="get" action="/pnote/save">
        <div>
            当前路径：<b name="path">test</b>
        </div>
    <div >
        <button id="btnSave" onclick="return btnSave_click()">保存</button>
    </div>
    <textarea id="txtMain" name="txtMain"  style=" width: 100%; height: 500px;">test</textarea>

        </form>
</body>
</html>
        <script type="text/javascript">
            //保存事件
            document.onkeydown = function(e){
                e = window.event || e;
                var keycode = e.keyCode || e.which;
                if(e.ctrlKey && keycode== 83){
                    e.preventDefault();
                    window.event.returnValue= false;
                    alert("as");
                }
            }
            //保存按钮事件
            function btnSave_click(){
                alert('');
                return false;
            }

        </script>