<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pnote list</title>
</head>
<!-- <script src="js/jquery-latest.js"></script> -->
<body>
<form method="get" action="/pnote/save">
    <div>
       <h3>List</h3>

    </div>
    <div >
        <% if(list.length){%>
            <% list.forEach(function(item){ %>
                <p><a href='<%= item.path %>'><%= item.path%></a></p>
            <% })%>

    <% }%>
    </div>


</form>
</body>
</html>
